SHOW PAGE FOR A BEHEMOTH ENTRY

<br><br>
<p><%= @behemoth.name %></p>
<p><%= @behemoth.element%></p>

<% if authorized_to_edit?(@behemoth) %>
    <form class="" action="/behemoths/<%= @behemoth.id %>" 
    method="post">
        <input type="hidden" name="_method" value="EDIT">
        <input type="submit" name="" value="Edit this Behemoth">
    </form>
    <br><br>
    <form class="" action="/behemoths/<%= @behemoth.id %>" 
    method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" name="" value="Delete this Behemoth">
    </form>
<% end %>