SHOW PAGE FOR A BEHEMOTH ENTRY

<p><%= @behemoth.name %></p>

<% if authorized_to_edit?(@behemoth) %>
    <a href="/behemoths/<%= @behemoth.id %>/edit">Edit Behemoth</a>
    <br><br>
    <form class="" action="/behemoths/<%= @behemoth.id %>" 
    method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" name="" value="Delete this Behemoth">
    </form>
<% end %>