<h2>Create a new Entry: </h2>

<form class="" action="/behemoth_entries" method="post">
    <label for="name">Name: </label>
    <input type="text" name="name" value="">
    <label for="element">Element: </label>
    <input type="text" name="element" value="">
    <input type="submit" name="" value="Create Entry">
</form>